<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <style>
      .chessboard {
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-template-rows: repeat(8, minmax(0, 1fr));
        width: 400px;
        height: 400px;
        transform: rotate(0deg);
      }

      .piece.white {
        color: white;
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1));
      }

      .piece.black {
        color: black;
      }

      .flipped {
        transform: rotate(180deg);
      }

      .square {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .square.light {
        background-color: #f0d9b5;
      }

      .square.dark {
        background-color: #b58863;
      }

      .piece {
        font-size: 36px;
        cursor: pointer;
      }

      .piece.draggable {
        cursor: grab;
      }

      .dragging {
        opacity: 0.5;
      }

      /* Rotate pieces for black player */
      .flipped .piece {
        transform: rotate(180deg);
      }
      .scoreboard {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        font-size: 1.2em;
        font-weight: 600;
      }

      .scoreboard > div {
        background-color: antiquewhite;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .timers {
        font-weight: 600;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        font-size: 1.2em;
      }

      .timers > div {
        background-color: antiquewhite;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="w-full flex flex-col items-center justify-center h-screen bg-zinc-900">
      <div class="game-container">
        <div class="scoreboard">
          <div id="white-player">White: <span id="white-score">0</span></div>
          <div id="black-player">Black: <span id="black-score">0</span></div>
        </div>
        <div class="timers">
          <div id="white-timer">White: 00:00</div>
          <div id="black-timer">Black: 00:00</div>
        </div>
        <div class="chessboard"></div>
      </div>
    </div>
    

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
      integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
      integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/chessgame.js"></script>
  </body>
</html>
